{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="p-1 card-header">
        <h3 class="m-0 p-0 float-left">Atualizar produto</h3>
        <div class="float-right button">
            <a class="btn btn-primary" href="{% url 'cadastro:produto-list' %}"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar</a>
        </div>
    </div>
    <div class="card-block p-2">

        <form action="" method="post">
            {%csrf_token%}
            <div class="row">

                <div class="col-sm-6">
                    {{form.descricao.label_tag}}

                    {{form.descricao}}
                    <div class="row">
                        <div class="col-sm-6">
                            {{form.preco.label_tag}}
                            {{form.preco}}
                        </div>
                        <div class="col-sm-6">
                            {{form.custo.label_tag}}
                            {{form.custo}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">

                </div>
            </div>
            <br>
            <div class="row" >
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary"> <i class="fa fa-check" aria-hidden="true"></i> Salvar</button>
                </div>
            </div>
        </form>

    </div>
    <div class="card-footer text-muted">
        <div class="float-right button">

        <i class="fa fa-info" aria-hidden="true"></i>
            O cadastro de produto tambem pode ser utilizado como cadastro de serviço e despesas
        Usando abreviações como SER para serviço ou DES exemplo  SERV-Limpesa
        </div>
    </div>
</div>
{% endblock content %}