<!doctype html> {% load staticfiles %}
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="{% static 'css/select2.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
  <link rel="stylesheet" href="{% static 'jquery-ui-1.12.1/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/iconfonts/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.addons.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
  <title>GERÊNCIADOR</title>
</head>

<body>
    
  
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center  navbar-brand-wrapper d-flex align-items-top justify-content-center">
        <!-- <a class="navbar-brand brand-logo" href="index.html">
          <img src="images/logo.svg" alt="logo" />
        </a>
        <a class="navbar-brand brand-logo-mini" href="index.html">
          <img src="images/logo-mini.svg" alt="logo" />
        </a> -->
        <h3 class="pt-3 text-light">SISTEMA</h3>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        
        <ul class="navbar-nav navbar-nav-right">
          <!-- <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <i class="mdi mdi-file-document-box"></i>
              <span class="count">7</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
              <div class="dropdown-item">
                <p class="mb-0 font-weight-normal float-left">You have 7 unread mails
                </p>
                <span class="badge badge-info badge-pill float-right">View all</span>
              </div>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                   <img src="images/faces/face4.jpg" alt="image" class="profile-pic"> 
                </div>
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-medium text-dark">David Grey
                    <span class="float-right font-weight-light small-text">1 Minutes ago</span>
                  </h6>
                  <p class="font-weight-light small-text">
                    The meeting is cancelled
                  </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <img src="images/faces/face2.jpg" alt="image" class="profile-pic">
                </div>
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-medium text-dark">Tim Cook
                    <span class="float-right font-weight-light small-text">15 Minutes ago</span>
                  </h6>
                  <p class="font-weight-light small-text">
                    New product launch
                  </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <img src="images/faces/face3.jpg" alt="image" class="profile-pic">
                </div>
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-medium text-dark"> Johnson
                    <span class="float-right font-weight-light small-text">18 Minutes ago</span>
                  </h6>
                  <p class="font-weight-light small-text">
                    Upcoming board meeting
                  </p>
                </div>
              </a>
            </div>
          </li> -->
          <!-- <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="mdi mdi-bell"></i>
              <span class="count">4</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              <a class="dropdown-item">
                <p class="mb-0 font-weight-normal float-left">You have 4 new notifications
                </p>
                <span class="badge badge-pill badge-warning float-right">View all</span>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-success">
                    <i class="mdi mdi-alert-circle-outline mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-medium text-dark">Application Error</h6>
                  <p class="font-weight-light small-text">
                    Just now
                  </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-warning">
                    <i class="mdi mdi-comment-text-outline mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-medium text-dark">Settings</h6>
                  <p class="font-weight-light small-text">
                    Private message
                  </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-info">
                    <i class="mdi mdi-email-outline mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-medium text-dark">New user registration</h6>
                  <p class="font-weight-light small-text">
                    2 days ago
                  </p>
                </div>
              </a>
            </div>
          </li> -->
          <li class="nav-item dropdown d-none d-xl-inline-block">
            <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <!-- <span class="profile-text">Hello, Richard V.Welsh !</span> -->
              <!-- <img class="img-xs rounded-circle" src="images/faces/face1.jpg" alt="Profile image"> -->
              <i class="fa fa-user-o" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
              <a class="dropdown-item p-0">
                <div class="d-flex border-bottom">
                  <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                    <i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
                  </div>
                  <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
                    <i class="mdi mdi-account-outline mr-0 text-gray"></i>
                  </div>
                  <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                    <i class="mdi mdi-alarm-check mr-0 text-gray"></i>
                  </div>
                </div>
              </a>
              <a class="dropdown-item mt-2">
                Manage Accounts
              </a>
              <a class="dropdown-item">
                Change Password
              </a>
              <a class="dropdown-item">
                Check Inbox
              </a>
              <a class="dropdown-item">
                Sign Out
              </a>
            </div>
          </li>
        </ul>
        <button class=" navbar-toggler  navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    
    
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      
      <nav style="align-items: normal; " class="sidebar navbar  sidebar-offcanvas" id="sidebar">
        <ul class="nav  w-100">
          
          <a class=" p-1 w-100 text-left btn-secondary" href="{% url 'core:index' %}"><img width="40px" class="pr-1" src="{% static 'img/dashboard.png' %}" >Dashboard </a>
          <!-- Cadastro -->
          <div class="dropdown ">
            <button class="btn pl-2 p-1 w-100 text-left btn-light dropdown-toggle dropdown-toggle-split"  type="button" id="menuCadastro" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img width="40px" class="pr-1" src="{% static 'img/cadastro.png' %}" >Cadastro
            </button>
            <div class=" dropdown-menu bg-secondary btn-block" aria-labelledby="menuCadastro">
              <a class="dropdown-item" class="btn p-1 w-100 text-left btn-secondary dropdown-toggle " id="dropdownProduto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Produto <i class="float-right fa fa-arrow-down" aria-hidden="true"></i></a>
              <div class="dropdown-menu position-relative  text-right btn-block " aria-labelledby="dropdownProduto">
                  
                  <a class="dropdown-item" href="{% url 'cadastro:produto' %}">Produto <i class="fa fa-plus" aria-hidden="true"></i></a>
                  <a class="dropdown-item" href="{% url 'cadastro:unidade' %}">Unidade <i class="fa fa-plus" aria-hidden="true"></i></a>
                  <a class="dropdown-item" href="{% url 'cadastro:categoria' %}">Categoria <i class="fa fa-plus" aria-hidden="true"></i></a>
              </div>
              

              <a class="dropdown-item" href="{% url 'cadastro:cliente' %}"><i class="fa fa-plus" aria-hidden="true"></i> Cliente</a>
              <a class="dropdown-item" href="{% url 'cadastro:fornecedor' %}"><i class="fa fa-plus" aria-hidden="true"></i> Fornecedor</a>
              <a class="dropdown-item" href="{% url 'cadastro:funcionario' %}"><i class="fa fa-plus" aria-hidden="true"></i> Funcionario</a>
              
            </div>

          </div>
          <!-- Relatorio -->
          <div class="dropdown ">
            <button class="btn pl-1 p-1 w-100 text-left btn-light dropdown-toggle dropdown-toggle-split"  type="button" id="menuRelatorio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img width="40px" class="pr-1" src="{% static 'img/relatorio.png' %}" >Relatório
            </button>
            <div class="dropdown-menu bg-secondary btn-block" aria-labelledby="menuRelatorio">
              <a class="dropdown-item" class="btn p-1 w-100 text-left btn-secondary dropdown-toggle " id="menuRelatorioProduto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Produto <i class="float-right fa fa-arrow-down" aria-hidden="true"></i></a>
              <div class="dropdown-menu position-relative text-right btn-block " aria-labelledby="menuRelatorioProduto">
                
                  <a class="dropdown-item" href="{% url 'cadastro:produto-list' %}"> Produto <i class="fa fa-book" aria-hidden="true"></i></a>
                  <a class="dropdown-item" href="{% url 'cadastro:unidade-list' %}">Unidade <i class="fa fa-book" aria-hidden="true"></i></a>
                  <a class="dropdown-item" href="{% url 'cadastro:categoria-list' %}">Categoria <i class="fa fa-book" aria-hidden="true"></i></a>
              </div>

              <a class="dropdown-item" href="{% url 'cadastro:cliente-list' %}"><i class="fa fa-book" aria-hidden="true"></i> Cliente</a>
              <a class="dropdown-item" href="{% url 'cadastro:fornecedor-list' %}"><i class="fa fa-book" aria-hidden="true"></i> Fornecedor</a>
              <a class="dropdown-item" href="{% url 'cadastro:funcionario-list' %}"><i class="fa fa-book" aria-hidden="true"></i> Funcionario</a>
            </div>

          </div>
          <!-- Movimento -->
          <div class="dropdown ">
            <button class="btn pl-1 p-1 w-100 text-left btn-light dropdown-toggle dropdown-toggle-split"  type="button" id="menuMovimento" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img width="40px" class="pr-1" src="{% static 'img/trucking.png' %}" >Movimentos
            </button>
            <div class="dropdown-menu bg-secondary btn-block" aria-labelledby="menuMovimento">
              
              <a class="dropdown-item" href="{% url 'pedido:saida-list' %}"><i class="fa fa-book" aria-hidden="true"></i> Saidas</a>
            
              <a class="dropdown-item" href="{% url 'pedido:entrada-list' %}"><i class="fa fa-book" aria-hidden="true"></i> Entradas</a>
              
            </div>

          </div>
          <div class="dropdown ">
            <button class="btn pl-1 p-1 w-100 text-left btn-light dropdown-toggle dropdown-toggle-split"  type="button" id="menuFiltrar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img width="40px" class="pr-1" src="{% static 'img/search.png' %}" >Filtrar
            </button>
            <div class="dropdown-menu bg-secondary btn-block" aria-labelledby="menuFiltrar">
              
              <a class="dropdown-item" href="{% url 'pedido:saida-list' %}"><i class="fa fa-book" aria-hidden="true"></i> Saidas</a>
              <a class="dropdown-item" href="{% url 'pedido:entrada-list' %}"><i class="fa fa-book" aria-hidden="true"></i> Entradas</a>
            </div>

          </div>
          <div class="dropdown ">
            <button class="btn pl-1 p-1 w-100 text-left btn-light dropdown-toggle dropdown-toggle-split"  type="button" id="menuEstoque" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img width="40px" class="pr-1" src="{% static 'img/box.png' %}" >Estoque
            </button>
            <div class="dropdown-menu bg-secondary btn-block" aria-labelledby="menuEstoque">
              
              <a class="dropdown-item" href="{% url 'pedido:saida-list' %}"><i class="fa fa-book" aria-hidden="true"></i> Produtos</a>
              <a class="dropdown-item" href="{% url 'pedido:saida-list' %}"><i class="fa fa-book" aria-hidden="true"></i> Locais De estoque</a>
              
            </div>

          </div>
          <div class="dropdown ">
              <button class="btn pl-1 p-1 w-100 text-left btn-light dropdown-toggle dropdown-toggle-split"  type="button" id="menuEstoque" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img width="40px" class="pr-1" src="{% static 'img/notes.png' %}" >Pagamentos
              </button>
              <div class="dropdown-menu bg-secondary btn-block" aria-labelledby="menuEstoque">
                
                <a class="dropdown-item" href="{% url 'pedido:saida-list' %}"><i class="fa fa-plus" aria-hidden="true"></i> Tipo de Pagamento</a>
                <a class="dropdown-item" href="{% url 'pedido:saida-list' %}"><i class="fa fa-book" aria-hidden="true"></i> Pendentes</a>
                <a class="dropdown-item" href="{% url 'pedido:saida-list' %}"><i class="fa fa-book" aria-hidden="true"></i> Pagos</a>
                <a class="dropdown-item" href="{% url 'pedido:saida-list' %}"><i class="fa fa-money" aria-hidden="true"></i> Pagar Funcionario</a>
                
              </div>
  
            </div>
            
            <a class="btn pl-1 p-1 w-100 text-left btn-light " href="{% url 'pedido:nota-create' %}">
                <img width="40px" class="pr-1" src="{% static 'img/cart.png' %}" >Nota Nova
            </a>




          
          
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
        
          {% for message in messages %}
          <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong> <i class="fa fa-check" aria-hidden="true"></i> {{message}}</strong> 
          </div>
          
          <script>
            $(".alert").alert();
          </script>    
          {% endfor %}
          {% block content %}
          {% endblock content %}
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
              <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with
              <i class="mdi mdi-heart text-danger"></i>
            </span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>  
  <script src="{% static 'jquery-ui-1.12.1/external/jquery/jquery.js' %}"></script>
  <script src="{% static 'js/select2.min.js' %}"></script>
  <script src="{% static 'js/jquery.mask.js' %}"></script>
  <!-- Dashboard -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'vendors/js/vendor.bundle.addons.js' %}"></script>

  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/misc.js' %}"></script>
  <script src="{% static 'js/chart.js' %}"></script>
  <script src="{% static 'js/dashboard.js' %}"></script>
  <script src="{% static 'js/axios.min.js' %}"></script>
  <script src="{% static 'js/vue.js' %}"></script>
  <script src="{% static 'jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>


  {% block script %}
  {% endblock script%}
  <script>
    
    $(document).ready(function () {
      $('.select2').select2();
      $("#tabs").tabs();
    });

  </script>
</body>

</html>